<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a student @
      <a class="underline-link" href="https://www.newpaltz.edu/compsci/" target="_blank">The State University of NY at New Paltz</a>
      studying Computer Science. My expected graduation date is May 2022. I recently graduated from
      <a class="underline-link" href="https://buildyourfuture.withgoogle.com/programs/computer-science-summer-institute/#!?detail-content-tabby_activeEl=detail-overview-content/" target="_blank">Google CSSI</a> after completing three awesome, yet intensive weeks training at Google NYC.

    </p>

    <p>
      I enjoy bridging the gap between engineering and design &mdash; combining my newfound technical knowledge
      with my keen eye for design to create a beautiful product. My goal as a student is to learn how to build efficient applications
      that provide a user experience that is pleasing to the eye.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably doing photography, watching sports,
      lifting weights or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
